#helpMessage {
    -fx-text-fill: white;
}

#copyButton {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: white;
}

#copyButton:hover {
    -fx-background-color: darkgray;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
